@charset "UTF-8";
/* CSS Document */
body {
	overflow-x: hidden;
	padding-top: 4em;
}

* {
	font-family: 'Lato', sans-serif;
	line-height: normal;
	color:#4A4A4A;
	font-weight: 300;
}
p{
	color:#4A4A4A;
}
.logo-solar {
	max-width: 150px;
}

.nav-item.active {
	font-weight: bold;
}

.green {
	color:#3AB54A;
}

.yellow {
	color:#F5A623;
}

.white {
	color:#ffffff;
}

.orange {
	color:#E96642;
}

.bg-green{
	background-color: #3AB54A;
}
.bg-orange {
	background-color: #E96642;
}

.embajador-menu-mobile {
	display: none;
}

.embajador-menu-desktop {
	display: block;
	background-color: #f7f7f7;
	padding: 1em;
}

.embajador-menu-desktop li {
	list-style: none;
	padding: 0.5em;
}

.embajador-menu-desktop li a {
	color:#4A4A4A;
	
}

.embajador-menu-desktop li a:hover {
	text-decoration: none;
}

.first-steps {
	padding: 1em;
}
.first-steps-item {
	border:solid 1px #f7f7f7;
	padding: 1em;
	margin: 1em 0 0 0;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.estatus-cita{
	color:#50E3C2;
}

.estatus-firma{
	color:#F5A623;
}

.estatus-instalacion{
	color:#4A90E2;
}

.estatus-instalado {
	color:#4A90E2;
}

.estatus-pagado{
	color:#7ED321;
}

.estatus-referido{
	color:#50E3C2;
}

.estatus-revision{
	color:#F5A623;
}

.bg-yellow{
	background-color: #F5A623;
}

.solar-info{
	padding: 0 0 1em 0;
	text-align: center;
}

.bg-f7{
	background-color: #f7f7f7;
}

.bg-cotiza {
	background-image: url("../img/cotiza-unsistema.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-position: bottom;
}

.bg-embajador {
	background-image: url("../img/se-embajador.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-position: bottom;
}


.title-3{
	padding: 1em 0 0 0;
	text-align: center;
}

.img-beneficios{
	width: 40%;
}

.solar-info{
	padding: 1em;
}

.solar-info-2{
	padding: 2em;
	text-align: center;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.02);
}

.number {
	font-size: 2em;
	font-weight: bolder;
}

img.como-funciona {
	width: 80%;
	padding: 2em;
}

.solar-info-3{
	padding: 2em 1em;
}

.bg-turquesa {
	background-color: #17a2b8;
	color:white;
}

.bg-turquesa p {
	color:white;
}

.turquesa {
	color:#17a2b8;
}

.img-proceso{
	width: 70%;
	margin: 1em;
}

.btn-warning {
	color:white;
	background-color: #F5A623;
}

img.cotiza-img {
	width: 80%;
	max-width: 400px;
	text-align: center;
}

.solar-form-bg {
	border-radius: 1em;
	padding: 2em;
	border:solid 1px #DEDEDE;
	background-color: #fff;
}

.solar-form-bg a{
	color:#17a2b8;
}

.info-somos{
	padding: 2em;
}


@media screen and (min-width: 992px) {
    .navbar-nav.navbar-center {
    position: absolute;
    right: 1em;
}

}

@media screen and (max-width: 992px) {

	.embajador-menu-mobile {
	display: block;
		
}
	.embajador-menu-desktop  {
	display: none;
}
	
	.solar-info{
	padding: 0 1em 1em 1em;
	text-align: center;
}

	.img-beneficios{
	width: 30%;
}
	.bg-cotiza {
	height: 14em;
}
	
		.bg-embajador {
	height: 10em;
}
	img.como-funciona {
	width: 100%;
}
	.img-proceso{
	width: 40%;
}

}

@media screen and (max-width: 575px) {
	.solar-form-bg {
	border-radius: 0;
	padding: 1em;
	border:solid 1px #DEDEDE;
}
}
